*{
    padding: 0;
    margin: 0;
}
body{
    background-color:rgb(222, 222, 222) ;
}
.header{
    display: flex;
    justify-content: space-between;
    padding: 20px 90px;
}
.menu{
    display: flex;
    gap: 60px;
}
.menu ul{
    display: flex;
    gap: 60px;
    font-size: 1.5em;
    padding-top: 8px;
    font-weight: 200;
    list-style: none;
}
li:hover {
    background-color: #204e51;
    color: white;
    width: 90px;
    padding-left: 13px;
    border-radius: 5px;
    
}
.menu #btnlogin{
    padding: 5px 30px;
    background-color: #204e51;
    color: white;
    border-radius: 8px;
    border: none;
    font-size: 1.3em;
    margin-left: 38px;
}
#btnsignup{
     padding: 5px 30px;
    background-color: transpare;
    color:#204e51 ;
    border-radius: 8px;
    border: #204e51 2px solid;
    font-size: 1.3em;
   

}
/* section two */
 .hero{
    background-image:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(assets/image\ 1.png);
    height: 100vh;
    width: 100%; 
    

}

/* section tree */
.get-start{
    display: flex;
    justify-content: space-around;
    margin: 90px 0;
    
}

.left-get{
    width: 35%;
    margin-top: 20px;

}
.get-start .left-get:hover{
    transform: translate(-900px);
    transition: all 2s ease-out;
}
.left-get h1{
    font-size: 3.5em;
    font-weight: 900;
    margin-bottom: 20px;

}

.left-get button{
    background-color:#204e51  ;
    color: white;
    padding: 8px 30px;
    border-radius: 20px;
    border: none;
    font-size: 1.8em;
    margin-top: 30px;


}
.right-get img{
    width: 500px;
    margin-top: -20px;
}
.right-get{
    position: relative;
}

/* overflow: hidden; */
/* .get-start:hover .right-get{
      transform: translate(900px);
    transition: all 2s ease-in;
}
.get-start:hover .left-get{
    transform: translate(-900px);
    transition: all 2s ease-in; 
}
.get-start{
    overflow: hidden;
} */
.right-get{
   animation: anim 2s  ;
}

@keyframes anim{
    from{
        transform: translate(900px);

    }
    to{
        transform: translate(0);
    }
}
.left-get{
    animation: anim2 2s ;
}
@keyframes anim2{
    from{
         transform: translate(-900px);
    

    }
    to{
         transform: translate(0px);
    }
}
.get-start{
    overflow: hidden;
}






  

.since{
    background-color: white;
    width: 200px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    font-size: 1.8em;
    color:#204e51 ;
    position: absolute;
    bottom: 40px;
    left: 30%;
}
.since:hover{
    transform: rotate(90deg) scale(1.4);
    transition: all 1.8s ease-in-out;
}
.title-servis{
    text-align: center;
}
.title-servis h1{
    color: #204e51;
    font-weight: 700;
    
}

.boxONE{
    background-color: white;
    width: 180px;
    height: 180px; 
    margin: 40px 40px;
    border-radius: 20px;
    box-shadow: 10px 10px 10px rgb(14, 211, 44), -5px -5px 10px rgb(108, 238, 15);


}

.boxONE img{
    width: 55px;
    padding-top: 20px;
    padding-left: 65px;
    
}
.boxONE:hover img{
    transform: scale(1.2);
    
   
}
.boxONE p{
    font-size: 0.8em;
    text-align: center;
    padding-top: 20px;
}
.box{
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-around;
    margin-top: 20px;
}


/* ilaa iyo amar danbe */
.cinwan{
    margin-top: 90px;
}
.testmonial{
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 90px;
}
.card{
    background-color: #204e51;
    width: 800px;
    height: 300px;
    border-radius: 10px;

}
.imgone{
    background-color: white;
    width: 40px;
    height: 40px;
    padding: 5px;
    border-radius: 50%;
    margin-top: 10%;

}
.imgone img{
    margin-left: 10px;
    margin-top: 10px;
    width: 20px;
}
.rk1{
    background-color: white;
    width: 180px;
    height: 300px;
    border-radius: 17px;
    
}
.rk1 img{
    width: 120px;
    padding-bottom: 18px;
    padding-top: 25px;
}

.rk1 h4{
    color: #204e51;
    font-weight: 700;
    padding-bottom: 15px;
    font-size: 1.3em;
    
}
.rk1 p{
    font-size: 0.9em;
    
}
.rk{
    display: flex;
    justify-content: center;
   gap: 30px;
   margin-top: 40px;
   
}
.link8{
    margin-top: 50px;
    color: black;
    
}
.herotwo{
     background-image:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(assets/Rectangle\ 4.png);
    height: 65vh;
    width: 100%; 
    margin-top: 20px;
    

}
.herotwo #hero-title{
    color: white;
    text-align: start;
    padding-top: 90px;
    padding-left: 20px;
}
.button1{
    background-color:#204e51  ;
    color: white;
    padding: 4px 10px;
    border-radius: 3px;
    border: none;
    font-size: 1.0em;
    margin-top: 30px;

    

}
.button2{
    background: transparent;
    color: white;
    padding: 4px 10px;
    border-radius: 3px;
    border: 1px solid  white;
    font-size: 1.0em;
    margin-top: 40px;
    margin-right: 900px;

}
.left-n9{
    text-align: start;
    width: 30%;
    margin-top: 90px;
   
}
.left-n9 h1{
    padding-bottom: 20px;

}
.left-n9 button{
     background-color: #204e51;
    color: white;
    padding: 6px 50px;
    border-radius: 3px;
    border: none;
    font-size: 0.9em;
    margin-top: 40px;
    margin-right: 900px;


}
.right-n9{
    background-color: #204e51;
    width: 250px;
    height: 300px;
    border-radius: 5px;
    margin-top: 40px;
}
.n9{
    display: flex;
    justify-content: center;
    
}


.kala-sooc{
    
    display: flex;
    gap: 40px;
}
.img-coin1 img{
    width: 40px;
    margin-top: 25px;
    margin-left: 30px;
}
.ql{
   color: white;
   margin-top: 30px;
   
  
}
.ql p{
    color: black;
    font-size: 0.8em;
}
/* bilowga  */
.card{
    display: flex;
    justify-content: space-around;
}
.sw{
    text-align: start;
}
.coin-card{
    text-align: start;
}
.hq{
    text-align: start;
}

@media (max-width:390px) {


    



    
}

@media (min-width:391px ) and (max-width: 430px){
    .menu ul{
        display: none;
    }
    .menu #btnlogin{
        display: none;
    }
    #btnsignup{
        display: none;
    }
    .header h1{
       font-size: 1.8em;
    }
    .header{
        padding: 10px 20px;

        
    }
    .hero{
        background-position: center;
        height: 80vh;
    }
    .get-start{
        display: block;
    }
    .left-get{
        width: 100%;
       
    }

}

