* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(26, 5, 71);
}

.logo {
    background-color: rgb(29, 0, 87);
    color: white;
    display: flex;
    justify-content: space-between;

}

.logo ul {
    display: flex;
    justify-content: space-around;
    gap: 50px;
    margin-right: 10%;
    font-size: 1.3em;
    margin-top: 6px;
    list-style: none;


}

#home {
    color: rgb(141, 59, 214);

}

#zacad {
    color: rgb(141, 59, 214);
    margin-left: 10%;
    font-family: oswald, Helvetica, sans-serif;
}

.zacadOne {
    color: white;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    gap: 400px;
    background-color: rgba(141, 59, 214 40);
}
.header h1{
    margin-left: 70px;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
}

.qoraalka {
    font-size: small;
    font-weight: lighter;
}

.header img {
    border-radius: 60px 50px;
    background-color: rgb(146, 76, 212);
    margin-top: 60px;
    width: 400px;
    height: 450px;
    margin-right: 50px;

}

.about{
    color: white;
    margin-left: 40px;
}
.about h1{
    color: rgb(141, 59, 214);
} 
.aboutOne{
    display: flex;
    gap: 16px;
} 
.aboutOne h1{
   font-size: 3.0em;
  margin-bottom: 30px;
  font-weight: 900;
} 
.aboutOne h3{
    font-size: 1.0em;
    margin-top: 10px;

}
.boxOne{
    background-color:rgb(141, 59, 214) ;
    width: 200px;
    height: 100px;
    padding-left: 20px;
    padding-top: 10%;
    margin-left: 40px;
    font-size: 1.4em;
    color: white;
    cursor: pointer;
    

 
}
.box-about{
    display: flex;
}
.boxtwo{
    background-color: rgb(176, 176, 172);
     width: 200px;
    height: 100px;
    padding-left: 20px;
    padding-top: 10%;
    margin-left: 40px;
    font-size: 1.4em;
    color: white;
    cursor: pointer;
}


.boxtree{
     background-color: rgb(176, 176, 172);
     width: 200px;
    height: 100px;
    padding-left: 20px;
    padding-top: 10%;
    margin-left: 40px;
    font-size: 1.3em;
    color: white;
    cursor: pointer;
}
.boxfour{
    background-color: rgb(176, 176, 172);
     width: 200px;
    height: 100px;
    padding-left: 20px;
    padding-top: 10%;
    margin-left: 40px;
    font-size: 1.2em;
    color: white;
    cursor: pointer;
    
}
.kow{
    width: 230px;
    height: 170px;
    border: 2px solid rgb(141, 59, 214) ;
    margin-top: 40px;
    margin-left: 40px;
    padding-left: 10px;
    padding-top: 70px;
    padding-bottom: 0;
    color: white;
    font-size: 0.9em;
    text-align: center;
    line-height: 40px;
    border-radius: 6px;
    cursor: pointer;
    
}
#suheeb{
    color: rgb(141, 59, 214);
    margin-left:40px ;
    margin-top: 40px;
}
.offer{
    display: flex;
    gap: 20px;
}
.offerOne{
    display: flex;
    gap: 20px;
}
.labo{ width: 230px;
    height: 170px;
    border: 2px solid white ;
    margin-top: 40px;
    margin-left: 40px;
    padding-left: 10px;
    padding-top: 70px;
    padding-bottom: 0;
    color: white;
    font-size: 0.9em;
    text-align: center;
    line-height: 40px;
    border-radius: 6px;
    cursor: pointer;

}
.sadex{
      width: 230px;
    height: 170px;
    border: 2px solid rgb(141, 59, 214) ;
    margin-top: 40px;
    margin-left: 40px;
    padding-left: 10px;
    padding-top: 70px;
    padding-bottom: 0;
    color: white;
    font-size: 0.9em;
    text-align: center;
    line-height: 40px;
    border-radius: 6px;
    cursor: pointer;

}
#project{
    color:rgb(141, 59, 214) ;
    margin-left: 40px;
}
#qoraalka-project{
    color: white;
    margin-left: 40px;
}
.futured-project{
    background-color: rgb(43, 32, 82);
     width: 250px;
     height: 220px;
     margin-left: 40px;
     margin-top: 20px;
     border-radius: 5px;
    

}
#cr{
    width: 208px;
    height: 95px;
    padding-left: 15px;
    padding-top: 10px;
    border-radius: 5px ;
}
#headerTree{
    font-size: 0.9em;
   color: rgb(141, 59, 214);
   padding-left: 10px ;
   padding-top: 6px;

}
#qorl{
    font-size: 0.6em;
    padding-left: 10px;
    padding-top: 8px;
    color: white;
}
#button-kow{
    background-color:rgb(141, 59, 214) ;
    color: white;
    margin-left: 18px;
    margin-top: 20px;
    border: none;
    width: 80px;
    height: 25px;
    border-radius: 5px;
}
#button-labo{
     
    margin-left: 18px;
    margin-top: 20px;
    border: none;
    width: 80px;
    height: 25px;
    border-radius: 5px;
   

}
.box-ka-guud{
    display: flex;
}
.connect{
    display: flex;
    /* justify-content: space-between; */
    gap: 300px;
}
#header-coin{
    color:rgb(141, 59, 214) ;
    font-size: 1.2em;
}
#paragargh-coin{
    color: white;
    gap: 20px;
    font-size: 0.6em;
}
.coin-one{
    color:rgb(141, 59, 214) ;
    margin-top: 10px;
    gap: 20px;
    font-size: 0.9em;
    
}
.header-footer{
    margin-left: 100px;
    margin-top: 70px;
    gap: 10px;
   

}
.input{
    color:white;
    margin-right: 60px;
    margin-top: 50px;
   
}
.last-list{
    display: flex;
    justify-content: space-between;

}
.last-list ul{
    display: flex;
    justify-content: space-around;
    gap: 60px;
   margin-right: 10px;
    color: white;
    list-style: none;
}
#ph{
    color: white;
    font-size: 1.3em;
    
}

    






    
